<img align="right" src="https://druggablegenome.net/IDG_Images_Index/IDGLOGO.png" width="400">
# TCRD Introduction
* http://juniper.health.unm.edu/tcrd/
* http://juniper.health.unm.edu/tcrd/api.html
* https://pharos.nih.gov/idg/api

### Imports and installs

In [4]:
import sys, json, urllib.request
import pandas
import matplotlib.pyplot
import altair #Ok for Colaboratory, not GitHub
!pip install mysql-connector-python
import mysql.connector as mysql

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/32/a6/ebc16e531211e1ca8ff4cdd86328da101a2ed7349b13f8aba9ee812c6791/mysql_connector_python-8.0.15-cp36-cp36m-manylinux1_x86_64.whl (8.1MB)
    100% |████████████████████████████████| 8.1MB 4.2MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (40.9.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.11.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.15

### DB Specs

In [0]:
DBHOST = "tcrd.kmc.io"
DBNAME = "tcrd540"
DBUSR = "tcrd"

### Connect

In [0]:
dbcon=mysql.connect(host=DBHOST, db=DBNAME, user=DBUSR)

### Db Info

In [10]:
def Info(dbcon):
  cur=dbcon.cursor(dictionary=True)
  cur.execute('SELECT * FROM dbinfo')
  row=cur.fetchone()
  return row
Info(dbcon)

{'data_ver': '5.4.0',
 'dbname': 'tcrd',
 'dump_file': None,
 'is_copy': 0,
 'owner': 'smathias',
 'schema_ver': '5.1.0'}

### List tables:

In [6]:
def ListTables(dbcon)
  cur=dbcon.cursor()
  cur.execute('SHOW TABLES')
  rows=cur.fetchall()
  tables=[row[0] for row in rows]
  tables.sort()
  return tables
ListTables(dbcon)

['alias',
 'cmpd_activity',
 'cmpd_activity_type',
 'compartment',
 'compartment_type',
 'data_type',
 'dataset',
 'dbinfo',
 'disease',
 'disease_type',
 'do',
 'do_parent',
 'drug_activity',
 'dto',
 'expression',
 'expression_type',
 'feature',
 'gene_attribute',
 'gene_attribute_type',
 'generif',
 'goa',
 'hgram_cdf',
 'info_type',
 'kegg_distance',
 'kegg_nearest_tclin',
 'locsig',
 'mlp_assay_info',
 'ortholog',
 'ortholog_disease',
 'p2pc',
 'panther_class',
 'patent_count',
 'pathway',
 'pathway_type',
 'phenotype',
 'phenotype_type',
 'pmscore',
 'ppi',
 'ppi_type',
 'protein',
 'protein2pubmed',
 'provenance',
 'ptscore',
 'pubmed',
 't2tc',
 'target',
 'tdl_info',
 'tdl_update_log',
 'techdev_contact',
 'techdev_info',
 'tinx_articlerank',
 'tinx_disease',
 'tinx_importance',
 'tinx_novelty',
 'tinx_target',
 'xref',
 'xref_type']

### Fetch targets

In [13]:
sql='''
SELECT
        target.id AS "target_id",
        target.name,
        target.fam,
        target.tdl,
        target.idg2,
        protein.id AS "protein_id",
        protein.sym,
        protein.family,
        protein.geneid,
        protein.uniprot,
        protein.up_version,
        protein.stringid,
        protein.chr,
        protein.description,
        protein.dtoid
FROM
        target
JOIN
  t2tc ON t2tc.target_id = target.id
JOIN
  protein ON protein.id = t2tc.protein_id
'''

tgts = pandas.read_sql(sql, dbcon)
tgts.head()

,target_id,name,fam,tdl,idg2,protein_id,sym,family,geneid,uniprot,up_version,stringid,chr,description,dtoid
0,1,14-3-3 protein epsilon,None,Tbio,0,1,YWHAE,Belongs to the 14-3-3 family.,7531.0,P62258,1,ENSP00000264335,17p13.3,14-3-3 protein epsilon,None
1,2,14-3-3 protein eta,None,Tchem,0,2,YWHAH,Belongs to the 14-3-3 family.,7533.0,Q04917,4,ENSP00000248975,22q12.3,14-3-3 protein eta,None
2,3,14-3-3 protein theta,None,Tchem,0,3,YWHAQ,Belongs to the 14-3-3 family.,10971.0,P27348,1,ENSP00000238081,2p25.1,14-3-3 protein theta,None
3,4,"HLA class I histocompatibility antigen, A-1 al...",None,Tbio,0,4,HLA-A,Belongs to the MHC class I family.,3105.0,P30443,1,ENSP00000366005,6p22.1,"HLA class I histocompatibility antigen, A-1 al...",None
4,5,"HLA class I histocompatibility antigen, A-3 al...",None,Tbio,0,5,HLA-A,Belongs to the MHC class I family.,3105.0,P04439,2,ENSP00000366005,6p22.1,"HLA class I histocompatibility antigen, A-3 al...",None